.DS_Store
Pico Projects/.DS_Store
Pico Projects/02-Pico Display/.DS_Store
Pico Projects/02-Pico Display/displayTestProject/.DS_Store
Pico Projects/03-RFID Game/.DS_Store
Pico Projects/03-RFID Game/Pico Display Files/.DS_Store
.DS_Store
Pico Projects/.DS_Store
.DS_Store
